@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=BA93DBC5-B619-489C-990B-0CC5C4347EC6
@paperlust:registry=https://git.paperlust.co//api/v4/packages/npm/
//git.paperlust.co//api/v4/packages/npm/:_authToken=glpat-eZex3KZpKY2p4msazxGn
//git.paperlust.co//api/v4/projects/:_authToken=glpat-eZex3KZpKY2p4msazxGn
