@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://use.typekit.net/xjx8wyu.css'); */
/* @import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap'); */
@import './font-faces.css';

@font-face {
  font-family: 'Sanchez';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.paperlust.co/assets/fonts/Sanchezregular.woff2)
    format('woff2');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body,
html {
  margin: 0;
  padding: 0;
}

.pl-content-container {
  @apply px-4;
  @apply mx-auto;
}

@screen sm {
}

@screen md {
  .pl-content-container {
    width: 750px;
  }
}

@screen lg {
  .pl-content-container {
    width: 970px;
  }
}

@screen xl {
  .pl-content-container {
    width: 1170px;
  }
}
